$primary-color: rgb(45,44,67);
$secondary-color: rgb(187, 184, 180);
$tertiary-color: rgb(187, 184, 180);
$off-white: rgb(187, 184, 180);
$new-secondary-color: rgb(43, 43, 66);
$lighter-white: rgb(228, 227, 227);
$carousel-color: rgb(35, 50, 73);
$lighter-version: rgb(99, 125, 165);

body * {
    font-family: "Old Standard TT", "Playfair Display", Georgia, 'Times New Roman', Times, serif, Courier, monospace, monospace;
    font-weight: 400;
}

.tertiary {
    color: $off-white;

    font-weight: 400;
}

.chevron-a {
    text-decoration: none;
    color: $off-white;
    width: 5%;
}

.chevron-a:hover {
    color: $tertiary-color;
}

.second-header {
    font-weight: 400;
}

.fa-chevron-down {
    font-size: 34px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.jumbotron{
    padding: 0;
    height:100vh;
    width:100%;
    position: relative;
    margin: 0;
    background-color: $primary-color;
    // background-image: linear-gradient(to bottom, rgb(28, 31, 39), rgba(114, 116, 167, 0.089)) ;
    color: $lighter-white;
    display: grid;
}

.jumbotron h2 {
    color: white;
    font-weight: 200;
}

.jumbotron h3 {
    color: $lighter-white;
    font-weight: 400;
    // font-family: monospace;
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.342);
    
}

.nav-bar-brand {
    color: $off-white !important;
    font-size: 26px;
    font-weight: 200;
}

.nav-bar-brand i {
    padding: 0 15px;
    color: $carousel-color;
}

.trost-nav {
    color: $lighter-version;
}


.navbar-nav a {
    color: $off-white !important;
    font-size: 22px;
}
// background:linear-gradient(rgba(0, 108, 250, 0.5),transparent);
// background-color:rgb(0, 255, 157) /*this your primary color*/

.centered-jumbo {
    margin: auto;  
    margin-top: 50px;
}

.idkyet {
      height: 100vh;
      width: 100%;
      background-color: $primary-color;
      margin: 0;
}

.row {
    margin: 0;
}

.left-column {
    width: 95%;
    margin-top: 16vh;
    margin-left: 40px;
    float: left;
}

.right-column {
    color: $tertiary-color;
    margin: 15vh 10%;
    font-weight: 200;
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 0px 0px 10px -2px black;
}

.subTitle {
    margin: 10px auto;
    text-shadow: 3px 3px black;

}

.btn-div {
    width: 30%;
    justify-content: center;
}

.btn-div-right {
    justify-content: center;
    margin: auto;
}

.hire-btn-right {
    float: right;
}

.hire-btn {
    color: $tertiary-color;
    border: 1px solid $tertiary-color;
    margin-top: 20px;
    font-weight: 200;
}


.hire-btn:hover {
    background-color: $tertiary-color;
    transform: scale(1.05);
}

.canvas {
    overflow: visible !important;
}

.second-header {
    padding-top: 10vh;
    margin: auto;
    text-align: center;
}


.carousel {
    vertical-align: middle;
}

a:hover {
    color: $tertiary-color !important;
}

.btn-div a:hover {
    color: $off-white !important;
}

.card {
    color: $off-white;
}

.footer {
    height: 80px;
    background-color: $carousel-color;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.footer h3 {
    color: $primary-color;
}

@media only screen and (max-width: 770px) {
    .carousel-col {
        display: none;
    }
}

.card {
    background-color: $primary-color;
}

.card-columns .col-md-3 {
    margin: auto;
    text-align: center;
}

.card-columns {
    margin-top: 40px;
}

.carousel-col {
    // background-color: $off-white;
    background-color: $carousel-color;
    height: 100vh;
    position: relative;
    box-shadow: 0px 0px 10px -2px black;
}

.left-column-inner {
    height: 65vh;
    width: 95%;
    padding-right: 26px;
    border-right: 1px solid $lighter-version;
    box-shadow: 5px 0px 4px -4px black;
}

.thinner {
    font-weight: 200;
}

.prof-img {
    width: 90%;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
    margin-left: -15px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(40px 20px 5px #222);
}